* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.msj {
	width: 200px;
	margin: 50px;
	padding: 10px;

	border: 1px solid black;
	border-radius: 10px;
}
.msj input[type="text"] {
	width: 150px;}
.msj select {
	width: 150px;
	display: none;
}